<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <ros2_control name="spacediver" type="system">
    <xacro:if value="$(arg use_gazebo)">
      <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>
    </xacro:if>
    <xacro:unless value="$(arg use_gazebo)">
      <hardware>
        <plugin>dynamixel_hardware/DynamixelHardware</plugin>
        <param name="usb_port">/dev/ttyUSB0</param>
        <param name="baud_rate">57600</param>
      </hardware>
    </xacro:unless>

    <!-- BASE TO SHOULDER PLATE -->
    <joint name="${BASE_TO_LEFTSHOULDER_JOINT_NAME}">

      <param name="id">1</param>

      <command_interface name="position">
        <param name="min">${BASE_DYNAMIXEL_LOWER}</param>
        <param name="max">${BASE_DYNAMIXEL_UPPER}</param>
      </command_interface>

      <xacro:if value="$(arg use_gazebo)">
        <command_interface name="velocity">
          <param name="min">"-${BASE_DYNAMIXEL_VELOCITY}"</param>
          <param name="max">" ${BASE_DYNAMIXEL_VELOCITY}"</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">"-${BASE_DYNAMIXEL_EFFORT}"</param>
          <param name="max">" ${BASE_DYNAMIXEL_EFFORT}"</param>
        </command_interface>
      </xacro:if>

      <state_interface name="position" />
      <state_interface name="velocity" />

      <xacro:if value="$(arg use_gazebo)">
        <state_interface name="effort" />
      </xacro:if>

    </joint>

    <!-- BOTTOM DYNAMIXEL TO MISUMI LN -->
    <joint name="${LEFT_DYNAMIXELBOT_TO_LEFTMISUMILN_JOINT_NAME}">

      <param name="id">2</param>

      <command_interface name="position">
        <param name="min">${BOT_DYNAMIXEL_LOWER}</param>
        <param name="max">${BOT_DYNAMIXEL_UPPER}</param>
      </command_interface>

      <xacro:if value="$(arg use_gazebo)">
        <command_interface name="velocity">
          <param name="min">"-${BOT_DYNAMIXEL_VELOCITY}"</param>
          <param name="max">" ${BOT_DYNAMIXEL_VELOCITY}"</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">"-${BOT_DYNAMIXEL_EFFORT}"</param>
          <param name="max">" ${BOT_DYNAMIXEL_EFFORT}"</param>
        </command_interface>
      </xacro:if>

      <state_interface name="position" />
      <state_interface name="velocity" />

      <xacro:if value="$(arg use_gazebo)">
        <state_interface name="effort" />
      </xacro:if>

    </joint>

    <!-- TOP DYNAMIXEL TO DRIVING LINK -->
    <joint name="${LEFTDYNAMIXELTOP_TO_LEFTDRIVING_JOINT_NAME}">

      <param name="id">3</param>

      <command_interface name="position">
        <param name="min">${TOP_DYNAMIXEL_LOWER}</param>
        <param name="max">${TOP_DYNAMIXEL_UPPER}</param>
      </command_interface>

      <xacro:if value="$(arg use_gazebo)">
        <command_interface name="velocity">
          <param name="min">"-${BASE_DYNAMIXEL_VELOCITY}"</param>
          <param name="max">" ${BASE_DYNAMIXEL_VELOCITY}"</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">"-${BASE_DYNAMIXEL_EFFORT}"</param>
          <param name="max">" ${BASE_DYNAMIXEL_EFFORT}"</param>
        </command_interface>
      </xacro:if>

      <state_interface name="position" />
      <state_interface name="velocity" />

      <xacro:if value="$(arg use_gazebo)">
        <state_interface name="effort" />
      </xacro:if>

    </joint>

    <xacro:unless value="$(arg single_arm)">

      <joint name="${BASE_TO_RIGHTSHOULDER_JOINT_NAME}">

        <param name="id">4</param>

        <command_interface name="position">
          <param name="min">"${BASE_DYNAMIXEL_UPPER}"</param>
          <param name="max">"${BASE_DYNAMIXEL_LOWER}"</param>
        </command_interface>
        <xacro:if value="$(arg use_gazebo)">
          <command_interface name="velocity">
            <param name="min">"-${BASE_DYNAMIXEL_VELOCITY}"</param>
            <param name="max">" ${BASE_DYNAMIXEL_VELOCITY}"</param>
          </command_interface>
          <command_interface name="effort">
            <param name="min">"-${BASE_DYNAMIXEL_EFFORT}"</param>
            <param name="max">" ${BASE_DYNAMIXEL_EFFORT}"</param>
          </command_interface>
        </xacro:if>

        <state_interface name="position" />
        <state_interface name="velocity" />
        <xacro:if value="$(arg use_gazebo)">
          <state_interface name="effort" />
        </xacro:if>

      </joint>

      <joint name="${RIGHT_DYNAMIXELBOT_TO_RIGHTMISUMILN_JOINT_NAME}">

        <param name="id">5</param>

        <command_interface name="position">
          <param name="min">"${BOT_DYNAMIXEL_UPPER}"</param>
          <param name="max">"${BOT_DYNAMIXEL_LOWER}"</param>
        </command_interface>
        <xacro:if value="$(arg use_gazebo)">
          <command_interface name="velocity">
            <param name="min">"-${BOT_DYNAMIXEL_VELOCITY}"</param>
            <param name="max">" ${BOT_DYNAMIXEL_VELOCITY}"</param>
          </command_interface>
          <command_interface name="effort">
            <param name="min">"-${BOT_DYNAMIXEL_EFFORT}"</param>
            <param name="max">" ${BOT_DYNAMIXEL_EFFORT}"</param>
          </command_interface>
        </xacro:if>

        <state_interface name="position" />
        <state_interface name="velocity" />
        <xacro:if value="$(arg use_gazebo)">
          <state_interface name="effort" />
        </xacro:if>

      </joint>
      <joint name="${RIGHTDYNAMIXELTOP_TO_RIGHTDRIVING_JOINT_NAME}">

        <param name="id">6</param>

        <command_interface name="position">
          <param name="min">"${TOP_DYNAMIXEL_UPPER}"</param>
          <param name="max">"${TOP_DYNAMIXEL_LOWER}"</param>
        </command_interface>
        <xacro:if value="$(arg use_gazebo)">
          <command_interface name="velocity">
            <param name="min">"-${TOP_DYNAMIXEL_VELOCITY}"</param>
            <param name="max">" ${TOP_DYNAMIXEL_VELOCITY}"</param>
          </command_interface>
          <command_interface name="effort">
            <param name="min">"-${TOP_DYNAMIXEL_EFFORT}"</param>
            <param name="max">" ${TOP_DYNAMIXEL_EFFORT}"</param>
          </command_interface>
        </xacro:if>

        <state_interface name="position" />
        <state_interface name="velocity" />
        <xacro:if value="$(arg use_gazebo)">
          <state_interface name="effort" />
        </xacro:if>

      </joint>
    </xacro:unless>

  </ros2_control>
</robot>