<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <ros2_control name="spacediver" type="system">
    <!-- <xacro:if value="$(arg use_gazebo)">
      <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>
    </xacro:if>
    <xacro:unless value="$(arg use_gazebo)">
      <hardware>
        <plugin>spacediver_ros2_control/SpacediverSystem</plugin>
      </hardware>
    </xacro:unless> -->

    <hardware>
      <plugin>dynamixel_hardware/DynamixelHardware</plugin>
      <param name="usb_port">/dev/ttyUSB0</param>
      <param name="baud_rate">57600</param>
    </hardware>

    <!-- BASE TO LEFT SHOULDER PLATE -->
    <joint name="base_to_leftshoulder_joint">
      <param name="id">1</param>
      <command_interface name="position">
        <param name="min">${BASE_DYNAMIXEL_LOWER}</param>
        <param name="max">${BASE_DYNAMIXEL_UPPER}</param>
      </command_interface>
      <!-- <command_interface name="velocity">
        <param name="min">"-${BASE_DYNAMIXEL_VELOCITY}"</param>
        <param name="max">" ${BASE_DYNAMIXEL_VELOCITY}"</param>
      </command_interface>
      <command_interface name="effort">
        <param name="min">"-${BASE_DYNAMIXEL_EFFORT}"</param>
        <param name="max">" ${BASE_DYNAMIXEL_EFFORT}"</param>
      </command_interface> -->
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <!-- <state_interface name="effort"/> -->
    </joint>

    <!-- BASE TO RIGHT SHOULDER PLATE -->
    <joint name="base_to_rightshoulder_joint">
      <param name="id">4</param>
      <command_interface name="position">
        <param name="min">"${BASE_DYNAMIXEL_UPPER}"</param>
        <param name="max">"${BASE_DYNAMIXEL_LOWER}"</param>
      </command_interface>
      <!-- <command_interface name="velocity">
        <param name="min">"-${BASE_DYNAMIXEL_VELOCITY}"</param>
        <param name="max">" ${BASE_DYNAMIXEL_VELOCITY}"</param>
      </command_interface>
      <command_interface name="effort">
        <param name="min">"-${BASE_DYNAMIXEL_EFFORT}"</param>
        <param name="max">" ${BASE_DYNAMIXEL_EFFORT}"</param>
      </command_interface> -->
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <!-- <state_interface name="effort"/> -->
    </joint>

    <!-- TOP DYNAMIXEL TO DRIVING LINK -->
    <joint name="leftdynamixeltop_to_leftdriving_joint">
      <param name="id">2</param>
      <command_interface name="position">
        <param name="min">${TOP_DYNAMIXEL_LOWER}</param>
        <param name="max">${TOP_DYNAMIXEL_UPPER}</param>
      </command_interface>
      <!-- <command_interface name="velocity">
        <param name="min">"-${TOP_DYNAMIXEL_VELOCITY}"</param>
        <param name="max">" ${TOP_DYNAMIXEL_VELOCITY}"</param>
      </command_interface>
      <command_interface name="effort">
        <param name="min">"-${TOP_DYNAMIXEL_EFFORT}"</param>
        <param name="max">" ${TOP_DYNAMIXEL_EFFORT}"</param>
      </command_interface> -->
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <!-- <state_interface name="effort"/> -->
    </joint>
    <joint name="rightdynamixeltop_to_rightdriving_joint">
      <param name="id">5</param>
      <command_interface name="position">
        <param name="min">"${TOP_DYNAMIXEL_UPPER}"</param>
        <param name="max">"${TOP_DYNAMIXEL_LOWER}"</param>
      </command_interface>
      <!-- <command_interface name="velocity">
        <param name="min">"-${TOP_DYNAMIXEL_VELOCITY}"</param>
        <param name="max">" ${TOP_DYNAMIXEL_VELOCITY}"</param>
      </command_interface>
      <command_interface name="effort">
        <param name="min">"-${TOP_DYNAMIXEL_EFFORT}"</param>
        <param name="max">" ${TOP_DYNAMIXEL_EFFORT}"</param>
      </command_interface> -->
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <!-- <state_interface name="effort"/> -->
    </joint>

    <!-- BOTTOM DYNAMIXEL TO MISUMI LN -->
    <joint name="leftdynamixelbottom_to_leftmisumiln_joint">
      <param name="id">3</param>
      <command_interface name="position">
        <param name="min">${BOT_DYNAMIXEL_LOWER}</param>
        <param name="max">${BOT_DYNAMIXEL_UPPER}</param>
      </command_interface>
      <!-- <command_interface name="velocity">
        <param name="min">"-${BOT_DYNAMIXEL_VELOCITY}"</param>
        <param name="max">" ${BOT_DYNAMIXEL_VELOCITY}"</param>
      </command_interface>
      <command_interface name="effort">
        <param name="min">"-${BOT_DYNAMIXEL_EFFORT}"</param>
        <param name="max">" ${BOT_DYNAMIXEL_EFFORT}"</param>
      </command_interface> -->
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <!-- <state_interface name="effort"/> -->
    </joint>
    <joint name="rightdynamixelbottom_to_rightmisumiln_joint">
      <param name="id">6</param>
      <command_interface name="position">
        <param name="min">"${BOT_DYNAMIXEL_UPPER}"</param>
        <param name="max">"${BOT_DYNAMIXEL_LOWER}"</param>
      </command_interface>
      <!-- <command_interface name="velocity">
        <param name="min">"-${BOT_DYNAMIXEL_VELOCITY}"</param>
        <param name="max">" ${BOT_DYNAMIXEL_VELOCITY}"</param>
      </command_interface>
      <command_interface name="effort">
        <param name="min">"-${BOT_DYNAMIXEL_EFFORT}"</param>
        <param name="max">" ${BOT_DYNAMIXEL_EFFORT}"</param>
      </command_interface> -->
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <!-- <state_interface name="effort"/> -->
    </joint>

  </ros2_control>
</robot>